body {
    background-color: aliceblue;
}
.banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    max-width: 100%;
    /* background: black; */
    background: linear-gradient(
      40deg,
      rgba(0, 0, 0, 0.7777485994397759) 20%,
      rgba(255, 255, 255, 0) 67% );
  }
  .herotext {
    
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    align-items: center;
   
    /* margin-left: 15px;
    margin-right: 15px; */
  }
  .hero {
    display: grid;
     /* grid-template-columns: 0.5fr; 
    grid-template-rows: 350px;  */
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    align-content: center;
    justify-content: center;
  }  

.bannerimage {
    display: grid;
    
    object-fit: cover; 

  }

  .heroimage {
    grid-area: 1 / 1 / 2 / 2;
    
  }
  section {
    margin-right: auto;
    margin-left: auto;
     width: 60%;
     align-items: center;
 }
  .uk-card {
    border: solid 3px black;
    border-radius: 36px;
    padding: 30px;
}
.uk-grid.my-grid .uk-card .card-red {
    background-color: #f66435;
}

img {
    border: solid 2px black;
  }

  #dis {
    align-items: center;
}
#dis2 {
    align-items: center;
}
#end {
    align-items: center;
}

  